<h1>Crazy4Cats</h1>
<h2>Publicaciones</h2>

<% @posts.each_with_index do |post, index| %>
  <div>
    <h3>
      <%= link_to post.title, post_path(post), title: "Publicación #{index + 1}" %>
    </h3>
    <p><%= post.content %></p>
    <small>Publicado por: <strong><%= post.user.username %></strong></small>
  </div>
<% end %>
